@{
    ViewData["Title"] = "Home Page";
}

<div class="name">
    <h1 class="page-title">WestCoast <br> <span>Education</span></h1>
</div>
<div class="header">
    <div class="nav">
    <ul class="navigation">
        <li><a asp-action="Index" asp-controller="Home"><i class="fa-solid fa-house"></i></a></li>
        <li><a asp-action="Index" asp-controller="Courses">Courses</a></li>
        <li><a asp-action="Index" asp-controller="Students">Students</a></li>
        <li><a asp-action="Index" asp-controller="Teachers">Teachers</a></li>
    </ul>
    <p class="header-text">It's not too <br> late to apply</p>
    </div>
</div>

<div class="welcome-content">
    <h2 class="welcome"> Welcome to WestCoast Education</h2>
    <p>Dear student, with us you can prepare yourself before admission to the university, take a look at the list of courses currently available, and if you have any questions, you can contact us.</p>
</div>

<div class="footer-cotent">
    <div class="footer-up">
        <div class="name">
        <h1 class="page-title-footer">WestCoast <br> <span>Education</span></h1>
        </div>
        <div class="icon">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
    <hr>
    <div class="footer-down">
    <p>
    WestCoastEducation@gmail.com | 0700551099 | Nasaret18,Varberg
    </p>
    </div>
</div>
